* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "Header Header"
    "Nav Main"
    "Footer Footer";
}

header {
    grid-area: Header;
    padding: 20px;
    background-color: #4caf50;
    color: white;
}

main {
    grid-area: Main;
    padding: 20px;
}

nav {
    background-color: white;
    grid-area: Nav;
    padding: 20px 0px 20px 0px;
}

small {
    background-color: pink;
    padding: 1rem;
}

footer {
    grid-area: Footer;
    padding: 20px;
    background-color: #4caf50;
    color: white;
}

/* SCREENS */

/* dunno yet */

@media screen and (max-width:600px) {
    body {
        text-align: center;
    }
    #container {
        grid-template-areas: 
        "Header"
        "Nav"
        "Main"
        "Footer";
        grid-template-columns: 1fr;
    }
    h1, h2, h3 {
        font-size: x-large;
    }
    h2 {
        font-size: large;
    }
    h3 {
        font-size: medium;
    }
    small {
        display: none; /* JOHNN CEENNAAAA */
    }
}

/* PRINT */

@media print and (monochrome) {

    body {
        font-family:'Times New Roman', Times, serif;
        color: black;
    }
    #container {
        display: block;
    }
    nav {
        display: none;
    }
}